<template>
    <div class="add-product-section">
        <h3>Add Product</h3>
        <div class="add-product-form">
            <form @submit.prevent="submitProduct">
                <div>
                    <input
                        v-model.trim="$v.product_name.$model"
                        :class="{
                            'is-invalid': $v.product_name.$error,
                            'is-valid': !$v.product_name.$invalid
                        }"
                        type="text" placeholder="Add product name ...">
                    <div class="valid-feedback">Product name is valid</div>
                    <div class="invalid-feedback">
                        <span v-if="!$v.product_name.required">Product Name is Required!</span>
                    </div>
                </div>
                <div>
                    <input
                        v-model.trim="$v.product_price.$model"
                        :class="{
                            'is-invalid': $v.product_price.$error,
                            'is-valid': !$v.product_price.$invalid
                        }"
                        type="number" placeholder="Add product price ...">
                    <div class="valid-feedback">Product Price is valid</div>
                    <div class="invalid-feedback">
                        <span v-if="!$v.product_price.required">Product Price is Required!</span>
                    </div>
                </div>
                <input type="file" @change="onFileSelected">
                <input 
                type="submit" value="Submit" class="submit-button">
            </form>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
export default {
    name: "AddProduct",
    props: ['displayModalAdd'],
    data () {
        return {
            selectedFile: null,
            product_name: '',
            product_price: '',
            img: 'https://s3.amazonaws.com/uifaces/faces/twitter/fronx/128.jpg'
        }
    },
    validations: {
        product_name: {
            required
        },
        product_price: {
            required
        }
    },
    methods: {
        ...mapActions(['addProduct']),

        onFileSelected(){
            this.selectedFile = event.target.files[0]            
        },

        submitProduct(){
            this.$v.$touch();
            if (this.$v.$invalid) {
                console.log('failed')
            }else{
                const data = {
                    product_name: this.product_name,
                    product_price: this.product_price,
                    img: this.img
                }
                this.addProduct(data) 
                this.displayModalAdd(false)
            }
        }
    }
}
</script>
<style scoped>
    .add-product-section {
        padding: 0 20px 20px;
        width: 100%;
    }

    .add-product-section input {
        border: none;
        height: 35px;
        width: 100%;
        margin-bottom: 10px;
        display: block;
        padding: 0 10px;
        outline: none;
    }
    
    .add-product-section h3 {
        font-size: 15px;
        font-weight: 600;
        color: #666;
    }

    .submit-button {
        background-color: #0078AE;
        border-radius: 3px;
        font-weight: 600;
        color: #fff;
    }
</style>