<template>
    <div class="update-product-section">
        <h3>Update <span class="text-info"> {{ product.product_name }}'s </span> Information</h3>
        <div class="update-product-form">
            <form @submit.prevent="updateProduct">
                <div>
                    <input
                        v-model.trim="$v.product_name.$model"
                        :class="{
                            'is-invalid': $v.product_name.$error,
                            'is-valid': !$v.product_name.$invalid
                        }"
                        type="text" placeholder="Add product name ...">
                    <div class="valid-feedback">Product name is valid</div>
                    <div class="invalid-feedback">
                        <span v-if="!$v.product_name.required">Product Name is Required!</span>
                    </div>
                </div>
                <div>
                    <input
                        v-model.trim="$v.product_price.$model"
                        :class="{
                            'is-invalid': $v.product_price.$error,
                            'is-valid': !$v.product_price.$invalid
                        }"
                        type="number" placeholder="Add product price ...">
                    <div class="valid-feedback">Product Price is valid</div>
                    <div class="invalid-feedback">
                        <span v-if="!$v.product_price.required">Product Price is Required!</span>
                    </div>
                </div>
                <input class="submit-button" type="submit" value="Update">
            </form>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
export default {
    name: "UpdateProduct",
    props: ['product', 'displayModal'],
    data () {
    return {
        product_name: this.product.product_name,
        product_price: this.product.product_price,
        img: 'https://s3.amazonaws.com/uifaces/faces/twitter/fronx/128.jpg'
        }
    },
    validations: {
        product_name: {
            required
        },
        product_price: {
            required
        }
    },
    methods: {
        ...mapActions(['editProduct']),
        updateProduct(){
            this.$v.$touch();
            if (this.$v.$invalid) {
                console.log('failed')
            }else{
                const data = {
                    product_name: this.product_name,
                    product_price: this.product_price,
                    img: this.img,
                    id: this.product.id
                }

                this.editProduct(data)
                this.displayModal(false)
            }
        }
    }
}
</script>
<style scoped>

    .update-product-section {
        padding: 0 20px 20px;
        width: 100%;
    }

    .update-product-section input {
        border: none;
        height: 35px;
        width: 100%;
        margin-bottom: 10px;
        display: block;
        padding: 0 10px;
        outline: none;
    }
    
    .update-product-section h3 {
        font-size: 15px;
        font-weight: 600;
        color: #666;
    }

    .submit-button {
        background-color: #0078AE;
        border-radius: 3px;
        font-weight: 600;
        color: #fff;
    }
</style>