<template>
    <div class="update-invoice-section">
        <h3>Update Invoice No: <span class="text-info"> {{ invoice.invoice_no }} </span></h3>
        <div class="update-invoice-form">
            <form @submit.prevent="updateInvoice">
                <div>
                    <input
                        v-model.trim="$v.due_date.$model"
                        :class="{
                            'is-invalid': $v.due_date.$error,
                            'is-valid': !$v.due_date.$invalid
                        }" type="date" placeholder="Add due date ...">
                    <div class="valid-feedback">Your due date is valid</div>
                    <div class="invalid-feedback">
                        <span v-if="!$v.due_date.required">Due Date is Required!</span>
                    </div>
                </div>
                <div>
                    <input
                        v-model.trim="$v.invoice_no.$model"
                        :class="{
                            'is-invalid': $v.invoice_no.$error,
                            'is-valid': !$v.invoice_no.$invalid
                        }" type="number" placeholder="Add invoice number ...">
                    <div class="valid-feedback">Your Invoice number is valid</div>
                    <div class="invalid-feedback">
                        <span v-if="!$v.invoice_no.required">Invoice number is Required!</span>
                    </div>
                </div>
                <input class="submit-button" type="submit" value="Update">
            </form>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators'
export default {
    name: "UpdateInvoice",
    props: ['invoice', 'displayModal'],
    data () {
    return {
        due_date: '',
        invoice_no: this.invoice.invoice_no,
        }
    },
    validations: {
        due_date: {
            required
        },
        invoice_no: {
            required
        }
    },
    methods: {
        ...mapActions(['editInvoice']),
        updateInvoice(){
            this.$v.$touch();
            if (this.$v.$invalid) {
                console.log('failed')
            }else{
                const data = {
                    due_date: new Date(this.due_date),
                    invoice_no: this.invoice_no,
                    id: this.invoice.id,
                    customerId: this.$route.params.id,
                }

                this.editInvoice(data)
                this.displayModal(false)
            }
        }
    }
}
</script>
<style scoped>

    .update-invoice-section {
        padding: 0 20px 20px;
        width: 100%;
    }

    .update-invoice-section input {
        border: none;
        height: 35px;
        width: 100%;
        margin-bottom: 10px;
        display: block;
        padding: 0 10px;
        outline: none;
    }
    
    .update-invoice-section h3 {
        font-size: 15px;
        font-weight: 600;
        color: #666;
    }

    .submit-button {
        background-color: #0078AE;
        border-radius: 3px;
        font-weight: 600;
        color: #fff;
    }
</style>