<template>
    <div class="add-customer-section">
        <h3>Add Customer</h3>
        <div class="add-customer-form">
            <form @submit.prevent="submitCustomer">
                <div>
                    <input
                        v-model.trim="$v.name.$model"
                        :class="{
                            'is-invalid': $v.name.$error,
                            'is-valid': !$v.name.$invalid
                        }"
                        type="text" placeholder="Add customer name ...">
                    <div class="valid-feedback">Your name is valid</div>
                    <div class="invalid-feedback">
                        <span v-if="!$v.name.required">Name is Required!</span>
                    </div>
                </div>
                <div>
                    <input 
                        v-model.trim="$v.address.$model"
                        :class="{
                            'is-invalid': $v.address.$error,
                            'is-valid': !$v.address.$invalid
                        }"
                        type="text" placeholder="Add address ...">
                    <div class="valid-feedback">Your Address is valid</div>
                    <div class="invalid-feedback">
                        <span v-if="!$v.address.required">Address is Required!</span>
                        <span v-if="!$v.address.minLength"
                            >Address must be atleast
                            {{ $v.address.$params.minLength.min }} letters.</span
                        >
                        <span v-if="!$v.address.maxLength"
                            >Address must be at most
                            {{ $v.address.$params.maxLength.max }} letters.</span
                        >
                    </div>
                </div>
                <input type="file" @change="onFileSelected">
                <input 
                type="submit" value="Submit" class="submit-button">
            </form>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex';
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
export default {
    name: "AddCustomer",
    props: ['displayModalAdd'],
    data () {
        return {
            selectedFile: null,
            name: '',
            address: '',
            avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/fronx/128.jpg'
        }
    },
    validations: {
        name: {
            required
        },
        address: {
            required,
            minLength: minLength(3),
            maxLength: maxLength(20)
        }
    },
    methods: {
        ...mapActions(['addCustomers']),

        onFileSelected(){
            this.selectedFile = event.target.files[0]
        },

        submitCustomer(){
            this.$v.$touch();
            if (this.$v.$invalid) {
                console.log('failed')
            }else{
                const data = {
                    name: this.name,
                    address: this.address,
                    avatar: this.avatar
                }
                this.addCustomers(data) 
                this.displayModalAdd(false)
            }
        }
    }
}
</script>
<style scoped>
    .add-customer-section {
        padding: 0 20px 20px;
        width: 100%;
    }

    .add-customer-section input {
        border: none;
        height: 35px;
        width: 100%;
        margin-bottom: 10px;
        display: block;
        padding: 0 10px;
        outline: none;
    }
    
    .add-customer-section h3 {
        font-size: 15px;
        font-weight: 600;
        color: #666;
    }

    .submit-button {
        background-color: #0078AE;
        border-radius: 3px;
        font-weight: 600;
        color: #fff;
    }
</style>