<template>
    <div class="update-customer-section">
        <h3>Update <span class="text-info"> {{ customer.name }}'s </span> Information</h3>
        <div class="update-customer-form">
            <form @submit.prevent="updateCustomer">
                <div>
                    <input
                        v-model.trim="$v.name.$model"
                        :class="{
                            'is-invalid': $v.name.$error,
                            'is-valid': !$v.name.$invalid
                        }"
                        type="text" placeholder="Add customer name ...">
                    <div class="valid-feedback">Your name is valid</div>
                    <div class="invalid-feedback">
                        <span v-if="!$v.name.required">Name is Required!</span>
                    </div>
                </div>
                <div>
                    <input 
                        v-model.trim="$v.address.$model"
                        :class="{
                            'is-invalid': $v.address.$error,
                            'is-valid': !$v.address.$invalid
                        }"
                        type="text" placeholder="Add address ...">
                    <div class="valid-feedback">Your Address is valid</div>
                    <div class="invalid-feedback">
                        <span v-if="!$v.address.required">Address is Required!</span>
                        <span v-if="!$v.address.minLength"
                            >Address must be atleast
                            {{ $v.address.$params.minLength.min }} letters.</span
                        >
                        <span v-if="!$v.address.maxLength"
                            >Address must be at most
                            {{ $v.address.$params.maxLength.max }} letters.</span
                        >
                    </div>
                </div>
                <input class="submit-button" type="submit" value="Update">
            </form>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex';
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
export default {
    name: "UpdateCustomer",
    props: ['customer', 'displayModal'],
    data () {
    return {
        name: this.customer.name,
        address: this.customer.address,
        avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/fronx/128.jpg'
        }
    },
    validations: {
        name: {
            required
        },
        address: {
            required,
            minLength: minLength(3),
            maxLength: maxLength(20)
        }
    },
    methods: {
        ...mapActions(['editCustomer']),
        updateCustomer(){
            this.$v.$touch();
            if (this.$v.$invalid) {
                console.log('failed')
            }else{
                const data = {
                    name: this.name,
                    address: this.address,
                    avatar: this.avatar,
                    id: this.customer.id
                }

                this.editCustomer(data)
                this.displayModal(false)
            }
        }
    }
}
</script>
<style scoped>

    .update-customer-section {
        padding: 0 20px 20px;
        width: 100%;
    }

    .update-customer-section input {
        border: none;
        height: 35px;
        width: 100%;
        margin-bottom: 10px;
        display: block;
        padding: 0 10px;
        outline: none;
    }
    
    .update-customer-section h3 {
        font-size: 15px;
        font-weight: 600;
        color: #666;
    }

    .submit-button {
        background-color: #0078AE;
        border-radius: 3px;
        font-weight: 600;
        color: #fff;
    }
</style>